<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - showPostModal</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css">
    <link href="~/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/kendo.bootstrap-v4.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/pagemanager.css" />

    <script type="text/javascript" src="~/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/vendor/chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script type="text/javascript" src="~/js/external/sb-admin.min.js"></script>
    <script type="text/javascript" src="~/js/external/sb-admin-datatables.min.js"></script>
    <script type="text/javascript" src="~/js/external/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/external/kendo.ui.core.min.js"></script>
    <script type="text/javascript" src="~/js/external/moment.js"></script>
    <script type="text/javascript" src="~/js/external/moment-timezone-with-data-2012-2022.min.js"></script>
    <script type="text/javascript" src="~/js/pagemanagerenums.js"></script>
    <script type="text/javascript" src="~/js/pagemanagersettings.js"></script>
    <script type="text/javascript" src="~/js/pagemanager.js"></script>
</head>
    <body>
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </body>
</html>
